{% extends 'base-user.html' %}
{% block title %}Cotizaciones{% endblock %}

{% block content %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/components/cotizaciones.css')}}">
    <link 
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
    >
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js">
    </script>

    <div class="content-cuadro">
        <div class="cuadro">
            <div class="contrato_caja">
                <figure class="text-center">
                    <h1>
                        CONTRATO DE PRESTACION DE<br>
                        SERVICIOS - CONDOSA<br>
                        <br>
                    </h1>
                </figure>
    
                <p>
                    Entre la empresa: 
                    <input class="linea-texto" value="{{predio.descripcion}}" readonly>, 
            
                    representada en este acto por: 
                    <input class="linea-texto" value="{{persona_solicitante.apellido_paterno}} {{persona_solicitante.apellido_materno}}, {{persona_solicitante.nombres}}" readonly>, 
            
                    identificado con 
                    <input class="linea-texto" value="{{tipo_documento_solicitante.descripcion}}" readonly>: 
                    <input class="linea-texto" value="{{persona_solicitante.ndocumento}}" readonly>, 
            
                    en su carácter de 
                    <input class="linea-texto" value="{{rol_solicitante.descripcion}}" readonly> de 
                    <input class="linea-texto" value="{{predio.descripcion}}" readonly>, 
            
                    en lo sucesivo 
                    <input class="linea-texto" value="LA EMPRESA CONTRATANTE" readonly>, 
                    
                    y la empresa 
                    <input class="linea-texto" value="CONDOSA" readonly>, 
            
                    representada en este acto por: 
                    <input class="linea-texto" value="{{persona_personal.apellido_paterno}} {{persona_personal.apellido_materno}}, {{persona_personal.nombres}}" readonly>, 
            
                    identificado con 
                    <input class="linea-texto" value="{{tipo_documento_personal.descripcion}}" readonly>: 
                    <input class="linea-texto" value="{{persona_personal.ndocumento}}" readonly>, 
            
                    en su carácter de 
                    <input class="linea-texto" value="{{rol_personal.descripcion}}" readonly> de 
                    <input class="linea-texto" value="CONDOSA" readonly>, 
                    
                    en lo sucesivo 
                    <input class="linea-texto" value="LA EMPRESA CONTRATISTA" readonly>, 
                    
                    se celebra el presente contrato de prestación de servicios, 
                    al tenor de las siguiente cláusulas:
                </p>
    
                <p>
                    <P class="text_ind1">
                        1. Teniendo en cuenta la solicitud: 
                        <input class="linea-texto" value="{{solicitud.id_solicitud}}" readonly>, 
                        
                        realizada el 
                        <input class="linea-texto" value="{{solicitud.fecha_solicitud}}" readonly>, 
                        
                        {% if solicitud.id_servicio == 1 %}
                            que contempla el servicio de 
                            <input class="linea-texto" value="{{servicio.descripcion}}" readonly>,
            
                            que incluye los siguientes servicios:<br>
                            <P class="text_ind2">
                                1.1. Servicio de Limpieza<br>
                                1.2. Servicio de Jardineria<br>
                                1.3. Servicio de Seguridad<br>
                            </P>
                        {% else %}
                            que contempla el servicio de 
                            <input class="linea-texto" value="{{servicio.descripcion}}" readonly>.
                        {% endif %}
                    </P>
                    <P class="text_ind1">
                        2. Siendo que esta solicitud contempla los siguientes datos de predio: 
                        <P class="text_ind2">
                            2.1. Nombre del predio: 
                            <input class="linea-texto" value="{{predio.descripcion}}" readonly><br>
                            
                            2.2. Tipo de predio: 
                            <input class="linea-texto" value="{{tipo_predio.nomre_predio}}" readonly><br>
                            
                            2.3. Ubucacion: 
                            <P class="text_ind3">
                                2.3.1. Direccion: 
                                <input class="linea-texto" value="{{predio.direccion}}" readonly><br>
                                
                                2.3.2. Departamento: 
                                <input class="linea-texto" value="{{ubigeo_predio.departamento}}" readonly><br>
                                
                                2.3.3. Provincia: 
                                <input class="linea-texto" value="{{ubigeo_predio.provincia}}" readonly><br>
                                
                                2.3.4. Distrito: 
                                <input class="linea-texto" value="{{ubigeo_predio.distrito}}" readonly><br>
                                
                                2.3.5. Suerficie: 
                                <input class="linea-texto" value="{{ubigeo_predio.superficie}}" readonly><br>
                                
                                2.3.6. Altitud: 
                                <input class="linea-texto" value="{{ubigeo_predio.altitud}}" readonly><br>
                
                                2.3.7. Latitud: 
                                <input class="linea-texto" value="{{ubigeo_predio.latitud}}" readonly><br>
                
                                2.3.8. Longitud: 
                                <input class="linea-texto" value="{{ubigeo_predio.longitud}}" readonly><br>
                            </P>
                        </P>
            
                        <P class="text_ind2">
                            2.4. RUC: 
                            <input class="linea-texto" value="{{predio.ruc}}" readonly><br>
            
                            2.5. Numero de casas: 
                            <input class="linea-texto" value="{{solicitud.num_casas}}" readonly><br>
            
                            2.6. Cantidad de areas comunes: 
                            <input class="linea-texto" value="{{solicitud.cant_acomunes}}" readonly><br>
            
                            2.6. Tamaño total de areas comunes: 
                            <input class="linea-texto" value="{{solicitud.area_acomunes}}" readonly><br>
            
                            2.7. Areas comunes: 
                            {% for predio_area in predio_area_comun %}
                                <p class="text_ind3">
                                    2.7.{{ loop.index }}. AREA {{ loop.index }}: 
                                    {% for area in area_comun %}
                                        {% if predio_area.id_area_comun == area.id_area_comun %}
                                            <input class="linea-texto" value="{{area.descripcion}}" readonly> - SUPERFICIE: 
                                            <input class="linea-texto" value="{{predio_area.area}}" readonly><br>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endfor %}
                        </P>
                    </P>
            
                    <P class="text_ind1">
                        3. Ademas, partiendo de la cotizacion 
                        <input class="linea-texto" value="{{cotizacion.id_solicitud_cotizacion}}" readonly> 
                        aceptada por el cliente, que establece lo siguiente:
                        
                        <P class="text_ind2">
                            3.1. Fecha de cotizacion: 
                            <input class="linea-texto" value="{{cotizacion.fecha_cotizacion}}" readonly><br>
                            
                            3.2. Importe: 
                            <input class="linea-texto" value="{{cotizacion.importe}}" readonly><br>
                            
                            3.3. Personal asignado por la cotizacion:
                            <p class="text_ind3">
                                {% if solicitud.id_servicio == 1 %}
                                    3.3.1. Cantidad de administradores: 
                                    <input class="linea-texto" value="{{solicitud.cant_administracion}}" readonly><br>
                                    3.3.2. Cantidad de trabajadores en limpieza: 
                                    <input class="linea-texto" value="{{solicitud.cant_plimpieza}}" readonly><br>
                                    3.3.3. Cantidad de trabajadores en jardineria: 
                                    <input class="linea-texto" value="{{solicitud.cant_jardineria}}" readonly><br>
                                    3.3.4. Cantidad de trabajadores en seguridad: 
                                    <input class="linea-texto" value="{{solicitud.cant_vigilantes}}" readonly><br>
                                {% elif solicitud.id_servicio == 2 %}
                                    3.3.1. Cantidad de trabajadores en limpieza: 
                                    <input class="linea-texto" value="{{solicitud.cant_plimpieza}}" readonly><br>
                                {% elif solicitud.id_servicio == 3 %}
                                    3.3.1. Cantidad de trabajadores en jardineria: 
                                    <input class="linea-texto" value="{{solicitud.cant_jardineria}}" readonly><br>
                                {% elif solicitud.id_servicio == 4 %}
                                    3.3.1. Cantidad de trabajadores en seguridad: 
                                    <input class="linea-texto" value="{{solicitud.cant_vigilantes}}" readonly><br>
                                {% endif %}
                            </P>
                        </P>  
                    </P>
                    
                    <P class="text_ind1">
                        3. Por ultimo, siendo que el cliente acepte los 
                        <input class="linea-texto" value="TERMINOS Y CONDICIONES" readonly> 
                        expecificados por la empresa 
                        <input class="linea-texto" value="CONDOSA" readonly> 
                    </P>
                </p>
    
                <div class="datos_firmante">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card text-center">
                                <img class="card-img-top" src="{{url_for('static',filename=firma_solicitante_link)}}" alt="Imagen 1">
                                <div class="card-body">
                                    <p class="card-text">FIRMA SOLICITANTE</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card text-center">
                                <img class="card-img-top" src="{{url_for('static',filename=huella_solicitante_link)}}" alt="Imagen 2">
                                <div class="card-body">
                                    <p class="card-text">HUELLA SOLICITANTE</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card text-center">
                                <img class="card-img-top" src="{{url_for('static',filename=firma_personal_link)}}" alt="Imagen 3">
                                <div class="card-body">
                                    <p class="card-text">FIRMA CONTRATISTA</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card text-center">
                                <img class="card-img-top" src="{{url_for('static',filename=huella_personal_link)}}" alt="Imagen 4">
                                <div class="card-body">
                                    <p class="card-text">HUELLA CONTRATISTA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <script>
                    window.addEventListener('DOMContentLoaded', () => {
                        const inputs = document.querySelectorAll('input.linea-texto[readonly]');
                        inputs.forEach(input => {
                            input.style.width = (input.value.length + 1) + 'ch';
                        });
                    });
                </script>
            </div>

            <div class="bajo_contrato_caja">
                <form enctype="multipart/form-data" method="POST">
                    {% if accion == "firmar" %}
                        <div class="mb-3">
                            <label for="firma" class="form-label">INGRESE SU FIRMA</label>
                            <input accept="image/*" class="form-control" type="file" id="firma" name="firma" required>
                        </div>
                
                        <div class="mb-3">
                            <label for="huella" class="form-label">INGRESE SU HUELLA</label>
                            <input accept="image/*" class="form-control" type="file" id="huella" name="huella" required>
                        </div>

                        

                        <div class="mb-3">

                            <div class="row">

                                <div class="col">

                                    <button 
                                            class="button_subir_data" 
                                            title="Subir datos" 
                                            formaction="{{url_for('routes.subir_datos', accion=accion, tipo=tipo, id=id, id_contrato=id_contrato, referencia = referencia)}}"
                                        >
                                        <img class="tabla-icon" src="{{url_for('static', filename='img/subir_datos.png')}}">
                                    </button>
                                    
                                </div>

                                {% if tipo == "solicitante" %}

                                    {% if firma_solicitante_link != "img/cache/Vacio.png" and huella_solicitante_link != "img/cache/Vacio.png" %}
                                        
                                        <div class="col">
                                            <a class="button_firmar" title="Firmar">
                                                <img class="tabla-icon" src="{{url_for('static', filename='img/firmar_contrato.png')}}">
                                            </a>
                                        </div>

                                    {% endif %}

                                {% else %}

                                    {% if firma_personal_link != "img/cache/Vacio.png" and huella_personal_link != "img/cache/Vacio.png" %}
                                        
                                        <div class="col">
                                            <a class="button_firmar" title="Firmar">
                                                <img class="tabla-icon" src="{{url_for('static', filename='img/firmar_contrato.png')}}">
                                            </a>
                                        </div>

                                    {% endif %}

                                {% endif %}

                            </div>

                        </div>

                    {% endif %}                        
                </form>


                
                <a class="button_regresar" title="Atras">
                    <img class="tabla-icon" src="{{url_for('static', filename='img/atras.png')}}">
                </a>

            </div>
            
        </div>
    </div>
{% endblock %}